.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 1310px;
    background-color: #fff;
    font-family: 'Lucida Sans Unicode';
}

.header-wrapper {
    display: flex;
    align-items: center;
    width: 909px;
    margin-top: 16px;
    margin-bottom: 5px;
}

.phone {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    background-image: url('../img/phone1.png');
}

.phone-number {
    margin-left: 3px;
    color: #5e696d;
    font-family: Arial;
    font-size: 19px;
    line-height: 23px;
}

.auth {
    display: flex;
    align-items: center;
    width: 495px;
    height: 25px;
    margin-left: 15px;
    border-radius: 3px;
    background: #1f6787;
    background: -moz-linear-gradient(top, #1f6787 0%, #1c5e7f 17%, #13466a 50%, #0f3c61 71%, #0c3357 100%);
    background: -webkit-linear-gradient(top, #1f6787 0%, #1c5e7f 17%, #13466a 50%, #0f3c61 71%, #0c3357 100%);
    background: linear-gradient(to bottom, #1f6787 0%, #1c5e7f 17%, #13466a 50%, #0f3c61 71%, #0c3357 100%);
    -moz-box-shadow: 3px 5px 12px 0 rgba(125, 129, 138, 1);
    -webkit-box-shadow: 3px 5px 12px 0 rgba(125, 129, 138, 1);
    box-shadow: 3px 5px 12px 0 rgba(125, 129, 138, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f6787', endColorstr='#0c3357', GradientType=0);
}

.auth form input {
    width: 110px;
    height: 16px;
    margin-right: 2px;
    border-radius: 1px;
}

.auth form a {
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}

.auth form span {
    margin-left: 20px;
    color: #bfbfbf;
    font-size: 11px;
    text-decoration: underline;
}

.auth-img {
    margin-right: 3px;
    margin-left: 8px;
}

.border-img {
    position: relative;
    top: 3px;
}


.site-map {
    width: 85px;
    height: 33px;
    margin-left: 15px;
    background-image: url('../img/navi.png');
}

.logo {
    margin-bottom: 4px;
}

.main {
    display: flex;
    align-items: center;
    width: 909px;
    height: 34px;
    border-radius: 4px;
    background: #646673;
    background: -moz-linear-gradient(top, #646673 0%, #515a64 3%, #505860 6%, #464d54 9%, #2d3236 15%, #2a2e32 18%, #131517 55%, #070809 79%, #010101 97%, #0a1238 100%);
    background: -webkit-linear-gradient(top, #646673 0%, #515a64 3%, #505860 6%, #464d54 9%, #2d3236 15%, #2a2e32 18%, #131517 55%, #070809 79%, #010101 97%, #0a1238 100%);
    background: linear-gradient(to bottom, #646673 0%, #515a64 3%, #505860 6%, #464d54 9%, #2d3236 15%, #2a2e32 18%, #131517 55%, #070809 79%, #010101 97%, #0a1238 100%);
    line-height: 35px;
    -moz-box-shadow: 6px 6px 12px 0 rgba(140, 140, 140, 1);
    -webkit-box-shadow: 6px 6px 12px 0 rgba(140, 140, 140, 1);
    box-shadow: 6px 6px 12px 0 rgba(140, 140, 140, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646673', endColorstr='#0a1238',GradientType=0);
}

.main ul {
    display: flex;
    width: 692px;
}

.main div {
    display: flex;
}

.main ul li:first-child {
    margin-left: 132px;
}

.main ul li {
    height: 26px;
    padding-right: 17px;
    padding-left: 17px;
}

.main ul li:hover {
    border-radius: 20px;
    background: #27627e;
    background: -moz-linear-gradient(top, #27627e 0%, #1f6787 4%, #1c5e7e 20%, #124366 56%, #0c3357 96%, #092847 100%);
    background: -webkit-linear-gradient(top, #27627e 0%, #1f6787 4%, #1c5e7e 20%, #124366 56%, #0c3357 96%, #092847 100%);
    background: linear-gradient(to bottom, #27627e 0%, #1f6787 4%, #1c5e7e 20%, #124366 56%, #0c3357 96%, #092847 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27627e', endColorstr='#092847', GradientType=0);
}

.main li a {
    display: block;
    color: #a2acb0;
    font-size: 13px;
    line-height: 26px;
    text-decoration: none;
}

.main div p {
    margin-left: 5px;
    color: #929b9f;
    font-size: 11px;
}

.main div span {
    color: #0d5a8f;
}

.c0 {
    margin-left: 2px;
}

.grn {
    margin-left: 10px;
}

.basket-img {
    width: 21px;
    height: 17px;
    margin-top: 8px;
    margin-left: -8px;
}

.products {
    display: flex;
    width: 526px;
    height: 626px;
    margin-top: 15px;
    margin-left: 8px;
    border-radius: 3px;
    background: #e5e7e8;
    background: -moz-linear-gradient(top, #e5e7e8 0%, #dbe0e2 14%, #bac6cb 44%, #9badb5 83%, #93a7b0 100%, #a7b6bd 100%);
    background: -webkit-linear-gradient(top, #e5e7e8 0%, #dbe0e2 14%, #bac6cb 44%, #9badb5 83%, #93a7b0 100%, #a7b6bd 100%);
    background: linear-gradient(to bottom, #e5e7e8 0%, #dbe0e2 14%, #bac6cb 44%, #9badb5 83%, #93a7b0 100%, #a7b6bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e7e8', endColorstr='#a7b6bd', GradientType=0);
}

.brands {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.brands img {
    margin: 7px;
}

.goodyear .pictures {
    width: 136px;
    height: 127px;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
    background: #fff url('../img/goodyear.png') no-repeat center;
}

.goodyear {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-left: 27px;
}

.nokian .pictures {
    width: 136px;
    height: 127px;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
    background: #fff url('../img/nokian.png') no-repeat center;
}

.nokian,
.hankook {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-left: 30px;
}

.hankook .pictures {
    width: 136px;
    height: 127px;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
    background: #fff url('../img/hankook.png') no-repeat center;
}

.brand {
    margin-top: 15px;
    color: #206988;
}

.name {
    font-size: 13px;
}

.price {
    margin-top: 3px;
    margin-bottom: 10px;
    color: #114165;
    font-family: Arial;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

.price span {
    font-size: 12px;
}

main {
    display: flex;
    justify-content: flex-start;
    width: 909px;
}

.as-left {
    margin-top: 15px;
}

.as-left ul {
    margin-left: 2px;
    list-style: circle;
}

.as-left ul li {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 5px;
}

.as-left li a {
    display: block;
    margin-bottom: 10px;
    margin-left: -12px;
    color: #465961;
    font-size: 13px;
    text-decoration: none;
}

.as-left li a:hover {
    color: #0c3256;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.as-left header {
    display: flex;
    width: 182px;
    margin-bottom: 13px;
    border: 1px solid #959ea3;
    border-radius: 14px;
    line-height: 24px;
}

.as-left h2 {
    margin-right: 5px;
    color: #114165;
    font-size: 13px;
}

.catalog {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    background: #27627e url('../img/catalog.png') no-repeat center;
}

.circle-out {
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    margin: 2px;
    border-radius: 50%;
    background: #114165;
}

.circle-in {
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
}

.products-header {
    display: flex;
    width: 150px;
    border: 1px solid #959ea3;
    border-radius: 14px;
    line-height: 26px;
}

.products-header-tires {
    margin-top: 15px;
}

.products-header-disk {
    margin-top: -7px;
}

.products-header-bolt {
    margin-top: -9px;
}


.products-header-shini {
    width: 136px;
    margin-top: 4px;
    margin-left: 9px;
}

.products-header-diski {
    width: 137px;
    margin-top: 16px;
    margin-left: 9px;
}

.as-right {
    margin-top: 15px;
    margin-left: 10px;
}

.as-right h2 {
    margin-right: 5px;
    color: #114165;
    font-size: 13px;
}

.as-right header {
    display: flex;
    width: 183px;
    margin-bottom: 13px;
    border: 1px solid #959ea3;
    border-radius: 14px;
    line-height: 24px;
}

.form-brands {
    display: flex;
    flex-flow: column wrap;
    margin-top: 2px;
    margin-left: 5px;
}

.form-brands input {
    margin-top: 5px;
    margin-left: 17px;
}

.brands-checkbox {
    height: 18px;
    margin-top: 5px;
}

.brands-checkbox label {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
}

.form-brands .submit {
    width: 80px;
    height: 24px;
    margin-top: 25px;
    border-radius: 15px;
    background: #1f6787;
    background: -moz-linear-gradient(top, #1f6787 0%, #1c5e7e 17%, #124366 57%, #0c3357 100%);
    background: -webkit-linear-gradient(top, #1f6787 0%, #1c5e7e 17%, #124366 57%, #0c3357 100%);
    background: linear-gradient(to bottom, #1f6787 0%, #1c5e7e 17%, #124366 57%, #0c3357 100%);
    color: #fff;
    font-size: 12px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f6787', endColorstr='#0c3357', GradientType=0);
}

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 909px;
    height: 99px;
    margin-top: 18px;
    border-top: 1px solid #242c3f;
    border-right: #223447;
    border-left: #223447;
    background-color: #213a4d;
    font-family: Arial;
}

footer span {
    margin-top: 12px;
    color: #7f4740;
    font-size: 10px;
}

.foot {
    display: flex;
    margin-top: 9px;
}

.foot li:first-child a {
    color: #52abcb;
}

.foot .border {
    width: 2px;
    height: 11px;
    margin-top: 3px;
    margin-right: 13px;
    margin-left: 13px;
    background-color: #8d989f;
}

.foot li a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.forms {
    display: flex;
    width: 909px;
}

.search-car {
    width: 414px;
    height: 132px;
    margin-top: 12px;
    margin-left: 3px;
    border: 1px solid #b3b3b4;
    border-radius: 17px;
}

.search-tire {
    width: 191px;
    height: 135px;
    margin-top: 12px;
    margin-left: 14px;
    border: 1px solid #b3b3b4;
    border-radius: 15px;
}

.search-tire h2 {
    margin-top: 2px;
    margin-left: 10px;
    color: rgb(21, 68, 104);
    font-family: Arial;
    font-size: 12px;
    font-weight: 900;
}

.size {
    margin-top: 6px;
    margin-left: 13px;
    font-family: Arial;
    font-size: 10px;
}

.size-1 {
    width: 52px;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 10px;
}

.size-2 {
    width: 52px;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 10px;
}

.r {
    margin-top: 10px;
    margin-left: 45px;
    font-family: Arial;
    font-size: 10px;
}

.r select {
    width: 45px;
    margin-left: 3px;
    font-size: 10px;
}

.search-disk {
    width: 266px;
    height: 132px;
    margin-top: 12px;
    margin-left: 11px;
    border: 1px solid #b3b3b4;
    border-radius: 15px;
}

.season {
    display: flex;
    margin-top: 6px;
    margin-left: 13px;
    font-family: Arial;
    font-size: 10px;
}

.season span {
    display: block;
    margin-top: 6px;
}

.season-checkbox {
    display: flex;
    flex-flow: column wrap;
    margin-left: 9px;
}

.season-checkbox div {
    display: flex;
    height: 12px;
    margin-top: 3px;
}

.season-checkbox label {
    line-height: 18px;
}

.search-tire-search {
    display: flex;
    justify-content: flex-end;
    margin-top: 1px;
    margin-right: 20px;
}

.search-tire-search a,
.search-car-search a {
    color: #154467;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
}

.search-car-search {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    margin-right: 20px;
}

.search-car-selects {
    display: flex;
    font-size: 12px;
}

.search-car-header {
    display: flex;
    margin-left: 20px;
    color: rgb(21, 68, 104);
    font-family: 'Arial';
    font-size: 10px;
    font-weight: 900;
}

.search-car-header span {
    margin-top: 5px;
}

.search-car-header h2 {
    margin-right: 80px;
    margin-left: 68px;
    font-size: 12px;
}

.car-model {
    display: flex;
    margin-top: 4px;
    font-size: 10px;
}

.car-model select {
    width: 100px;
    height: 19px;
    margin-left: 28px;
}

.car-year {
    display: flex;
    margin-top: 4px;
    font-size: 10px;
}

.car-year select {
    width: 57px;
    height: 19px;
    margin-left: 16px;
}

.car-brand,
.car-complex {
    margin-top: 4px;
    font-size: 10px;
}

.car-brand select {
    width: 100px;
    margin-left: 19px;
}

.car-complex select {
    width: 102px;
}

.search-car-disk {
    margin-left: 17px;
}

.search-car-tire {
    margin-left: 25px;
}

.search-disk-main {
    display: flex;
    font-size: 10px;
}

.search-disk-border {
    width: 1px;
    height: 105px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 12px;
    background-color: #bdc6ca;
}

.search-disk-1-header {
    margin-top: 2px;
    margin-left: 10px;
    color: rgb(21, 68, 104);
    font-family: Arial;
    font-size: 12px;
    font-weight: 900;
}

.search-disk-1-2 {
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 10px;
}

.search-disk-1-2 select {
    width: 50px;
    height: 17px;
    margin-top: 5px;
    margin-left: 35px;
    font-size: 12px;
}

.search-disk-1-2 span,
.search-disk-1-3 span,
.search-disk-2 span,
.car-year span,
.car-model span {
    display: flex;
    flex-flow: column wrap;
}

.search-disk-1-3 {
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 10px;
}

.search-disk-1-3 select {
    width: 58px;
    height: 17px;
    margin-top: 10px;
    margin-left: 34px;
    font-size: 12px;
}

.search-disk-2 {
    margin-top: 5px;
}

.search-disk-search {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
    margin-right: 20px;
}

.search-disk-search a {
    color: #154467;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
}

.disk-diameter {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 10px;
}

.disk-diameter select {
    width: 57px;
    height: 17px;
    margin-left: 16px;
    font-size: 12px;
}

.search-disk-1-2 span span,
.search-disk-1-3 span span,
.disk-diameter span span,
.search-disk-2-1 span span,
.search-disk-2-2 span span,
.car-brand span span,
.car-year span span,
.car-model span span {
    color: #77858b;
    font-size: 8px;
}

.search-disk-2-1 {
    margin-top: 1px;
    margin-left: 1px;
    font-size: 10px;
}

.search-disk-2-1 select,
.search-disk-2-2 select {
    width: 58px;
    margin-top: 5px;
}

.search-disk-2-2 {
    margin-top: 5px;
    margin-left: 1px;
    font-size: 10px;
}
