.wrapper {
    width: 1000px;
    height: 1310px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans Unicode';
}

.header-wrapper {
    width: 909px;
    display: flex;
    margin-top: 18px;
    margin-bottom: 5px;
    align-items: center;
}

.phone {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    background-image: url('../img/phone1.png');
}

.phone-number {
    margin-left: 3px;
    line-height: 23px;
    color: #5e696d;
    font-size: 19px;
    font-family: Arial;
}

.auth {
    width: 495px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 3px;
    background: #1f6787;
    background: -moz-linear-gradient(top,  #1f6787 0%, #1c5e7f 17%, #13466a 50%, #0f3c61 71%, #0c3357 100%);
    background: -webkit-linear-gradient(top,  #1f6787 0%,#1c5e7f 17%,#13466a 50%,#0f3c61 71%,#0c3357 100%);
    background: linear-gradient(to bottom,  #1f6787 0%,#1c5e7f 17%,#13466a 50%,#0f3c61 71%,#0c3357 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0);
    -webkit-box-shadow: 3px 5px 12px 0px rgba(125,129,138,1);
    -moz-box-shadow: 3px 5px 12px 0px rgba(125,129,138,1);
    box-shadow: 3px 5px 12px 0px rgba(125,129,138,1);
}

#auth input {
    width: 110px;
    height: 16px;
    margin-right: 2px;
    border-radius: 1px;
}

#auth a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

#auth span {
    color: #bfbfbf;
    text-decoration: underline;
    margin-left: 20px;
    font-size: 11px;
}

.auth-img {
    margin-left: 8px;
    margin-right: 3px;
}

.border-img {
    position: relative;
    top: 3px;
}


.site-map {
    width: 85px;
    height: 33px;
    margin-left: 15px;
    background-image: url('../img/navi.png');
}

.logo {
    margin-bottom: 4px;
}

.main ul {
    width: 909px;
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    line-height: 35px;
    background: #646673;
    background: -moz-linear-gradient(top,  #646673 0%, #515a64 3%, #505860 6%, #464d54 9%, #2d3236 15%, #2a2e32 18%, #131517 55%, #070809 79%, #010101 97%, #0a1238 100%);
    background: -webkit-linear-gradient(top,  #646673 0%,#515a64 3%,#505860 6%,#464d54 9%,#2d3236 15%,#2a2e32 18%,#131517 55%,#070809 79%,#010101 97%,#0a1238 100%);
    background: linear-gradient(to bottom,  #646673 0%,#515a64 3%,#505860 6%,#464d54 9%,#2d3236 15%,#2a2e32 18%,#131517 55%,#070809 79%,#010101 97%,#0a1238 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646673', endColorstr='#0a1238',GradientType=0 );
    -webkit-box-shadow: 6px 6px 12px 0px rgba(140,140,140,1);
    -moz-box-shadow: 6px 6px 12px 0px rgba(140,140,140,1);
    box-shadow: 6px 6px 12px 0px rgba(140,140,140,1);

}

.main ul li:first-child {
    margin-left: 132px;
}

.main ul li {
    height: 26px;
    padding-left: 17px;
    padding-right: 17px;
}

.main ul li:hover {
    background: #27627e;
    background: -moz-linear-gradient(top,  #27627e 0%, #1f6787 4%, #1c5e7e 20%, #124366 56%, #0c3357 96%, #092847 100%);
    background: -webkit-linear-gradient(top,  #27627e 0%,#1f6787 4%,#1c5e7e 20%,#124366 56%,#0c3357 96%,#092847 100%);
    background: linear-gradient(to bottom,  #27627e 0%,#1f6787 4%,#1c5e7e 20%,#124366 56%,#0c3357 96%,#092847 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27627e', endColorstr='#092847',GradientType=0 );
    border-radius: 20px;
}

.main ul li a{
    text-decoration: none;
    color: #a2acb0;
    display: block;
    line-height: 26px;
    font-size: 13px;
}

.main ul p{
    color: #929b9f;
    margin-left: 10px;
    font-size: 11px;
}

.main ul p span {
    margin-left: 3px;
    color: #0d5a8f;
}

.basket-img {
    width: 21px;
    height: 17px;
    margin-left: 55px;
}

.products {
    display: flex;
    width: 526px;
    height: 626px;
    margin-top: 25px;
    border-radius: 3px;
    background: #e5e7e8;
    background: -moz-linear-gradient(top,  #e5e7e8 0%, #dbe0e2 14%, #bac6cb 44%, #9badb5 83%, #93a7b0 100%, #a7b6bd 100%);
    background: -webkit-linear-gradient(top,  #e5e7e8 0%,#dbe0e2 14%,#bac6cb 44%,#9badb5 83%,#93a7b0 100%,#a7b6bd 100%);
    background: linear-gradient(to bottom,  #e5e7e8 0%,#dbe0e2 14%,#bac6cb 44%,#9badb5 83%,#93a7b0 100%,#a7b6bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#a7b6bd',GradientType=0 );
}

.brands {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.brands img {
    margin: 7px;
}

.goodyear .pictures {
    width: 136px;
    height: 127px;
    background: #fff url('../img/goodyear.png') no-repeat center;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
}

.goodyear {
    margin-left: 27px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.nokian .pictures {
    width: 136px;
    height: 127px;
    background: #fff url('../img/nokian.png') no-repeat center;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
}

.nokian {
    margin-left: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.hankook .pictures {
    width: 136px;
    height: 127px;
    background: #fff url('../img/hankook.png') no-repeat center;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
}

.hankook {
    margin-left: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.brand {
    margin-top: 15px;
    color: #206988;
}

.name {
    font-size: 13px;
}

.price {
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: #114165;
}

.price span {
    font-size: 12px;
}

main {
    display: flex;
}

.as-left {
    margin-top: 25px;
}