.wrapper {
    width: 100%;
    height: 100%;
    background: #128aa7;
    background: -moz-linear-gradient(top, #128aa7 0%, #128aa7 3%, #5ef0ff 3%, #11cde1 3%, #12cee1 3%, #2ad3e4 5%, #46d9e7 7%, #d5f6fa 14%, #edfbfd 15%, #fff 17%, #40c6d3 17%, #39bece 20%, #1fa1bb 27%, #1293b2 31%, #0d79a2 82%, #0c739f 100%);
    background: -webkit-linear-gradient(top, #128aa7 0%, #128aa7 3%, #5ef0ff 3%, #11cde1 3%, #12cee1 3%, #2ad3e4 5%, #46d9e7 7%, #d5f6fa 14%, #edfbfd 15%, #fff 17%, #40c6d3 17%, #39bece 20%, #1fa1bb 27%, #1293b2 31%, #0d79a2 82%, #0c739f 100%);
    background: linear-gradient(to bottom, #128aa7 0%, #128aa7 3%, #5ef0ff 3%, #11cde1 3%, #12cee1 3%, #2ad3e4 5%, #46d9e7 7%, #d5f6fa 14%, #edfbfd 15%, #fff 17%, #40c6d3 17%, #39bece 20%, #1fa1bb 27%, #1293b2 31%, #0d79a2 82%, #0c739f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#128aa7', endColorstr='#0c739f', GradientType=0);
}

.wrapper-center {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    box-shadow: 5px 10px 5px #033b53;
}

.logo {
    margin-top: 11px;
    margin-left: 28px;
    float: left;
}

.wrapper-header-right {
    float: right;
}

.contacts {
    display: block;
    margin-right: 33px;
    margin-bottom: 33px;
    float: right;
    color: #7daabd;
    font-size: 12px;
    line-height: 17px;
    list-style: none;
}

.countries {
    margin-right: 20px;
    padding: 0;
    clear: right;
    list-style: none;
}

.countries li {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 15px;
    float: left;
}

.countries li:first-child {
    background-image: url('../img/ind.jpg');
}

.countries li:nth-child(2) {
    background-image: url('../img/nepal.jpg');
}

.countries li:nth-child(3) {
    background-image: url('../img/tibet.jpg');
}

.countries li:nth-child(4) {
    background-image: url('../img/butan.jpg');
}

.countries li:nth-child(5) {
    background-image: url('../img/sri-lanka.jpg');
}

.countries li:nth-child(6) {
    background-image: url('../img/maldives.jpg');
}

.countries li a {
    display: block;
    width: 57px;
    margin-top: 42px;
    padding-left: 6px;
    color: #128aa7;
    font-size: 10px;
}

.countries li:nth-child(5) a {
    padding: 0;
}

.main-img {
    margin: 0;
    padding: 0;
}

/*main menu BEGIN*/

.white-triangle1 {
    margin-right: 0;
    padding: 0;
    position: relative;
    top: -26px;
    left: 118px;
}

.white-triangle2 {
    margin-right: 0;
    padding: 0;
    position: relative;
    top: -26px;
    left: 68px;
}

.white-triangle3 {
    margin-right: 0;
    padding: 0;
    position: relative;
    top: -26px;
    left: 100px;
}

.menu {
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #333;
    list-style: none;
}

.menu li {
    position: relative;
    height: 30px;
    margin-left: 45px;
    float: left;
    z-index: 1;
}

.menu li a {
    display: block;
    margin-left: 15px;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    background: #333;
    list-style: none;
}

.dropdown li {
    display: block;
    margin-left: 0;
    float: none;
}

.menu li:hover .dropdown {
    display: block;
}

/*main menu END*/

h3 {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    font-size: 17px;
}

.content {
    overflow: hidden;
}

.sidebar-left {
    margin-bottom: -20000px;
    padding-bottom: 20000px;
    float: left;
    border-right: 1px solid #c7cacf;
    background-color: #edeef0;
}

.sidebar-left p {
    margin-top: 7px;
    margin-right: 35px;
    margin-left: 15px;
    font-size: 14px;
}

.sidebar-left h3 {
    text-align: center;
}

.center {
    margin-bottom: -20000px;
    padding-bottom: 20000px;
    float: left;
}

.sidebar-right {
    margin-bottom: -20000px;
    padding-bottom: 20000px;
    float: right;
    border-left: 1px solid #c7cacf;
    background-color: #edeef0;
}

.sidebar-right p {
    margin-top: 7px;
    margin-right: 24px;
    margin-left: 15px;
    font-size: 14px;
}

.sidebar-right h3 {
    text-align: center;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.footer p {
    width: 300px;
    margin: 11px auto;
    color: #fff;
    font-size: 12px;
}
