.wrapper {
    background: #128aa7;
    background: -moz-linear-gradient(top,  #128aa7 0%, #128aa7 3%, #5ef0ff 3%, #11cde1 3%, #12cee1 3%, #2ad3e4 5%, #46d9e7 7%, #d5f6fa 14%, #edfbfd 15%, #ffffff 17%, #40c6d3 17%, #39bece 20%, #1fa1bb 27%, #1293b2 31%, #0d79a2 82%, #0c739f 100%);
    background: -webkit-linear-gradient(top,  #128aa7 0%,#128aa7 3%,#5ef0ff 3%,#11cde1 3%,#12cee1 3%,#2ad3e4 5%,#46d9e7 7%,#d5f6fa 14%,#edfbfd 15%,#ffffff 17%,#40c6d3 17%,#39bece 20%,#1fa1bb 27%,#1293b2 31%,#0d79a2 82%,#0c739f 100%);
    background: linear-gradient(to bottom,  #128aa7 0%,#128aa7 3%,#5ef0ff 3%,#11cde1 3%,#12cee1 3%,#2ad3e4 5%,#46d9e7 7%,#d5f6fa 14%,#edfbfd 15%,#ffffff 17%,#40c6d3 17%,#39bece 20%,#1fa1bb 27%,#1293b2 31%,#0d79a2 82%,#0c739f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#128aa7', endColorstr='#0c739f',GradientType=0 );
    width: 100%;
    height: 100%;
}

.wrapper-center {
    background-color: #fff;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    box-shadow: 5px 10px 5px #033b53;
}

.logo {
    margin-left: 28px;
    margin-top: 11px;
    float: left;
}

.wrapper-header-right {
    float: right;
}

.contacts {
    display: block;
    float: right;
    list-style: none;
    color: #7daabd;
    margin-right: 33px;
    font-size: 12px;
    line-height: 17px;
}

.countries {
    clear: right;
    list-style: none;
    padding: 0;
    margin: 0;

}

.countries li {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    float: left;
}

.countries li:first-child {
    background-image: url('../img/ind.jpg');
}

.countries li:nth-child(2) {
    background-image: url('../img/nepal.jpg');
}

.countries li:nth-child(3) {
    background-image: url('../img/tibet.jpg');
}

.countries li:nth-child(4) {
    background-image: url('../img/butan.jpg');
}

.countries li:nth-child(5) {
    background-image: url('../img/sri-lanka.jpg');

}

.countries li:nth-child(6) {
    background-image: url('../img/maldives.jpg');
}

.countries li a {
    display: block;
    /*color: #128aa7;*/
    color: white;

    font-size: 10px;
    text-align: center;
}

.main-img {
    margin: 0;
}

.main-menu {
    background-color: #333;
    height: 30px;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    line-height: 30px;
}

.sidebar-left {
    float: left;
    background-color: #edeef0;
    border-right: 1px solid #c7cacf;
}

.sidebar-left p {
    margin-right: 24px;
    margin-left: 15px;
    font-size: 13px;
}

.sidebar-left h3 {
    text-align: center;
}

.sidebar-right {
    float: right;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
}

.sidebar-right p {
    margin-right: 24px;
    margin-left: 15px;
    font-size: 13px;
}

.sidebar-right h3 {
    text-align: center;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.footer p{
    width: 300px;
    margin: 11px auto;
    color: #fff;
}
