*{
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.box {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    height: 100px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Tahoma;
    color: #fff;
    background: #0f0;
    text-align: center;
}

.css-box {
    left: 0;
    transition: all 2s cubic-bezier(1,-1.56,0,2.02);
}

.css-box-animated {
    left: 260px;
}