.Мой_контактный_телефон:_____38022222222222 {
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(31, 31, 31);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 261.937px;
    top: 513.072px;
    z-index: 9;
}

.ИВАНОВ_ИВАН_ИВАНОВИЧ {
    font-size: 36px;
    font-family: "Arial";
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 268px;
    top: 41.4px;
    z-index: 23;
}

.Мой_профиль_Вконтакте:____vk_com {
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(31, 31, 31);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 261.937px;
    top: 584.072px;
    z-index: 6;
}
