@font-face {
   font-family: MyriadPro ; /* Имя шрифта */
   src: url(../fonts/MyriadProRegular.ttf); /* Путь к файлу со шрифтом */
  }


html {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1024px;
    height: 1024px;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-size: 36px;
    line-height: 1.2;
}

.h2 {
    line-height: 1.2;
    color: rgb(31, 31, 31);
    font-family: MyriadPro;
    font-size: 18px;
    font-weight: bolder;
}

div p {
    margin-left: 36px;
}

.img {
    height: 202px;
    width: 202px;
    margin-left: 410px;
    margin-top: -4px;

    border: 1px solid rgb(143, 143, 143);
}

hr {
    margin-top: 20px;
    width: 500px;
    height: 1px;
    color: rgb(31, 31, 31);

}

.info, .want, .vk, .phone, .feedback {
    margin-left: 262px;
    font-family: MyriadPro;
}

.student {
    margin-left: 2px;
    font-size: 14px;
    color: rgba(31, 31, 31, 0.8);
    line-height: 1.2;
    font-family: Arial;
}

.list {
  font-size: 14px;
  font-family: MyriadPro;
  margin-top: 24px;
  margin-left: -4px;
}
p {
  font-family: MyriadPro;
}
a {
  color: blue;
}

.feedback p {
  font-size: 14px;
  margin-top: 20px;
}
