@font-face {
    font-family: MyriadPro; /* Имя шрифта */
    src: url('../fonts/MyriadProRegular.ttf'); /* Путь к файлу со шрифтом */
  }


html {
    margin: 0;
    padding: 0;
}

body {
    width: 1024px;
    height: 1024px;
}

h1 {
    font-family: Arial;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.h2 {
    color: rgb(31, 31, 31);
    font-family: MyriadPro;
    font-size: 18px;
    font-weight: bolder;
    line-height: 1.2;
}

div p {
    margin-left: 36px;
}

.img {
    width: 202px;
    height: 202px;
    margin-top: -4px;
    margin-left: 410px;
    border: 1px solid rgb(143, 143, 143);
}

hr {
    width: 500px;
    height: 1px;
    margin-top: 20px;
    color: rgb(31, 31, 31);
}

.info,
.want,
.vk,
.phone,
.feedback {
    margin-left: 262px;
    font-family: MyriadPro;
}

.student {
    margin-left: 2px;
    color: rgba(31, 31, 31, .8);
    font-family: Arial;
    font-size: 14px;
    line-height: 1.2;
}

.list {
    margin-top: 24px;
    margin-left: -4px;
    font-family: MyriadPro;
    font-size: 14px;
}

p {
    font-family: MyriadPro;
}

a {
    color: #00f;
}

.feedback p {
    margin-top: 20px;
    font-size: 14px;
}
